
.area-de-jogo{
  border: solid 2px;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background-color: black;
  justify-content: center;
  position: relative;
}

.quadrados{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & p {
    font-size: 70px;
  }
}

.traco {
    font-size: 700px;
    font-weight: 100;
    padding: 0;
    margin: 0;
    display: inline;
    position: absolute;
    transform: translate(220px, -245px) rotate(135deg);
    display: none;
    color: red;
  }