
.area-de-jogo{
  border: solid 2px;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background-color: black;
  justify-content: center;
}

.quadrados{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & p {
    font-size: 70px;
  }
}